.stretch{
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  transition: padding 1s;
}

.stretch:hover{
padding-top: 14px;
padding-bottom: 14px;
padding-left: 28px;
padding-right: 28px;
}