p{
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.e-1{
  color: rgb(245, 100, 0);
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.e-2{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.e-3{
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 15px;
}

.e-4{
  margin-bottom: 25px;
}

.buy{
  color: white;
  background-color: rgb(0, 115, 225);
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.buy:hover{
  background-color: rgb(0, 80, 200);
}

.buy:active{
  background-color: rgb(0, 40, 150);
}