p{
  font-family: Arial;
}

.request-text{
  font-size: 40px;
  margin-bottom: 25px;
}

input{
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  width: 400px;
  display: block;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  background-color: rgb(240,240,240)
}


button{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 35px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 16px;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.now{
  color: white;
  background-color: black;
  border: none;
  margin-right: 20px;
}

.later{
  background-color: rgb(225,225,225);
  border: none;
}

.now:hover{
  box-shadow: 10px 10px 5px rgba(100, 100, 100, 0.25);
}

.later:hover{
  box-shadow: 10px 10px 5px rgba(100, 100, 100, 0.25);
}